.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
 
  .label {
     font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}
:global(.vtex-search-2-x-itemListItem),:global(.vtex-search-2-x-itemListTitle){
  font-family: 'gothambook';
}
.imageElement--imagenMenu{
  width: 40%;
}
.imageElement--lupaMobile{
  position: relative;
  top: 3px;
}
.skuSelectorSubcontainer--tipo {
  display: none;
}
.skuSelectorSubcontainer--estilo {
  display: none;
}
.skuSelectorSubcontainer--division {
  display: none;
}
@media screen and (max-width:1025px) {
  .imageElement--lupaMobile{
    width: 15px;
    position: relative;
    top: 2px;
  }
}

  @media screen and (min-width:1027px) {
    .imageElement--wishlistIcon{
    position: relative;
    top: 3px;
    left: -5px;
  }
}

  @media screen and (min-width:1027px) {
    :global(.vtex-search-2-x-biggy-autocomplete){
    width: 100%;
    max-width: 565px;
    right: -9px !important;
  }
}
.imageElementLink--whatsappLink{
  position: fixed;
  right: 25px;
  z-index: 999;
  bottom: 20px;
  width: 40px;
  height: 40px;
}