.homeLink::after {
    display: block;
    content: "Home";
    color: #02012E;
    text-align: center;
    font-family: 'gothambook';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.homeLink .homeIcon {
    display: none;
}
.homeLink {
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.link {
    color: #02012E;
    text-align: center;
    font-family: 'gothambook';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    
}
.term {
    color: #02012E;
    text-align: center;
    font-family: 'gothambook';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding-left: 10px;
}
.caretIcon {
    color: #02012E;
}