.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}
.skuSelectorTextContainer {
  margin: 0;
 }

 .imageElement--logo_color {
  max-width: 80px;
  margin: 10px 0;
  border-radius: 0 !important;
 }

@media only screen and (min-width: 640px) {
 
  .label {
     font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}
:global(.vtex-search-2-x-itemListItem),:global(.vtex-search-2-x-itemListTitle){
  font-family: 'gothambook';
}
.imageElement--imagenMenu{
  width: 40%;
}
.imageElement--lupaMobile{
  position: relative;
  top: 3px;
}
.skuSelectorSubcontainer--tipo {
  display: none;
}
.skuSelectorSubcontainer--estilo {
  display: none;
}
.skuSelectorSubcontainer--division {
  display: none;
}
@media screen and (max-width:1025px) {
  .imageElement--lupaMobile{
    width: 15px;
    position: relative;
    top: 2px;
  }
}

  @media screen and (min-width:1027px) {
    .imageElement--wishlistIcon{
    position: relative;
    top: 3px;
    left: -5px;
  }
}

  @media screen and (min-width:1027px) {
    :global(.vtex-search-2-x-biggy-autocomplete){
    width: 100%;
    max-width: 565px;
    right: -9px !important;
  }
}
.imageElementLink--whatsappLink{
  position: fixed;
  right: 25px;
  z-index: 999;
  bottom: 20px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width:1026px) {
  .imageElementLink--whatsappLink{
    bottom: 105px;
  }
}
.canvasPersonalization{
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 615px;
}
.is-hidden{
  display: none !important;
}
.canvasRenderPersonalization{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
}
@media screen and (min-width:1200px) {
  .canvasRenderPersonalization{
    max-height: 600px;
  overflow: hidden;
  background-color: #fff;
  }
}
@media screen and (max-width:639px) {
  .canvasRenderPersonalization{
    max-width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.canvasRenderPersonalizationClose{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #AB220D;
  border-radius: 100%;
  border: 2px solid #AB220D;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 800;
  font-family: 'gothambold';
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.Previsualizacion{
  background-color: #AB220D;
    border: 1px solid #AB220D;
    color: #fff;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
.Previsualizacion:hover{
  color: #AB220D;
  background-color: #fff;
}

.LabelError{
  position: absolute;
  font-size: 11px;
  color: red;
  bottom: -15px;
  left: 3px;
}

.seeMoreButton {
  display: none !important;
}