.sliderLayoutContainer {
  justify-content: center;
}


.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
}

/* Slider home */
.slideChildrenContainer--slider-home :global(.vtex-store-components-3-x-imageElementLink){
  width: 100% !important;
}

.slideChildrenContainer--slider-home :global(.vtex-store-components-3-x-imageElementLink) :global(.vtex-store-components-3-x-imageElement){
  width: 100% !important;
}
.paginationDotsContainer {
  bottom: -38px;
}
.paginationDot{  
  background-color: #b3b3c0;
}
.paginationDot--isActive {
  background-color: #000009;
}
.sliderLayoutContainer--desktop {
  display: block;
}
.sliderLayoutContainer--mobile{
  display: none;
}
.sliderLayoutContainer--slider-home-mobile {
  display: none;
}
.slideChildrenContainer--slider-home-mobile {
  display: block;
}
@media screen and (max-width:768px) {
  .sliderLayoutContainer--slider-home-mobile {
    display: block;
  }
}
