.sellingPrice {
    color: #000009;
    font-size: 30px;
}
.sellingPriceValue {
    font-size: 30px;
    @media screen and (max-width:1025px) {
        font-size: 25px;
    }
}
.listPrice {
    font-size: 19px;
    margin-top: 9px;
    margin-left: 10px;
    color: #000009;
}