.productNameContainer {
    font-size: 30px;    
    font-style: normal;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #000009;
    margin-top: 15px;
    
}
@media screen and (max-width:1025px) {
    .productNameContainer {
    color: #000009;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 112% */
    }
}
.productDescriptionTitle {
    display: none;
}
.productDescriptionContainer {
    margin-top: 15px;
}
.productDescriptionText{
    color: #000009;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
.showMoreButton {
    color: #fff;
    background-color: #AB220D;
    font-family: "Raleway", sans-serif;
    padding: 5px 10px;
    border-radius: 10px;
}
.skuSelectorName {
    color: #000009;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
}
.skuSelectorItem {
    border-radius: 5px;
    background: #F5F5F5;
}
.valueWrapper {
    color:#000009;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.skuSelectorItem--selected {
    border-radius: 5px;
    border: 1px solid #000009;
    background: #000009;
    border: none;
}
.skuSelectorItem--selected :global(.vtex-store-components-3-x-skuSelectorItemTextValue){
    color: white;
}
.frameAround {
    display: none;
}