.productHighlightText {
    border-radius: 5px;
    background: #E7E7E7;
    text-align: center;
    font-family: 'gothambook';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
    margin-right: 15px;
}