@media screen and (min-width:992px) {
    .menuContainer  :global(.lf10-mega-menu-3-x-styledLinkContainer){
        padding: 7px 20px;
    }
    .menuContainer :global(.lf10-mega-menu-3-x-styledLink) {
        color: white;
        font-family: "Roboto", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .menuContainer :global(.lf10-mega-menu-3-x-styledLink):hover, .menuContainer :global(.lf10-mega-menu-3-x-styledLink):hover  {
        color: #AB220D;
    }
}
