@media screen and (min-width:992px) {
    .menuContainer  .styledLinkContainer{
        padding: 7px 20px;
    }
    .menuContainer .styledLink {
        color: white;
        font-family: "Roboto", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .menuContainer .styledLink:hover, .menuContainer .styledLink:hover  {
        color: #AB220D;
    }
}

.menuContainerNav {
    background-color: #000009;
    border: none;
    @media screen and (min-width:992px) {
    width: max-content !important;
    }
}
.menuContainer {
    border: 0px;
}
