
    @media screen and (min-width:992px) {
        .minicartContainer :global(.vtex-button){
        width: 40px;
        height: 20px;
        margin: 4px 20px 0 0;
    }    
}
.minicartContainer :global(.vtex-button):hover{
    background-color: #AB220D !important;
    border-radius: 100%;
}
.minicartContainer :global(.vtex-button):focus{
    background-color: #AB220D !important;
}
.cartIcon{
    display: none;
}
.minicartContainer :global(.vtex-button){
    align-items: center;
    position: relative;
}
.minicartContainer :global(.vtex-button)::after{
    display: block;
    content: url('assets/img/icons/Icono-carrito.svg');
    position: absolute;
    margin: auto;   
    top: 7px;
}
@media screen and (min-width:992px) {
    .minicartContainer :global(.vtex-button)::after{
        width: 40px;
        height: 40px;
        top: 7px;
        left: -4px;   
    }
}
@media screen and (max-width:1025px) {
    .minicartContainer :global(.vtex-button)::after{
        background: url('assets/img/icons/Icono-carrito.svg') no-repeat;
        content: '';
        width: 16px;
        height: 16px;
        background-size: 100%;
        content: 'a';
        font-size: 0;
        top: 11px;
        left: 2px;
        
    }
}
.minicartQuantityBadge{
    top: -18px;
    right: -25px;
    z-index: 1;
}
@media screen and (max-width:991px) {
    .minicartQuantityBadge{
        right: -19px;
        font-size: 8;
    }
}
.openIconContainer{
    padding: 0;
}