.paragraph--footer-richlinks{
    color: #fff;
    font-family: 'gothambook';
    font-size: 15px;
    display: flex;
}
.image--footer-richlinks{
    margin-right: 10px;
}
.paragraph--footer-richlinksallRights{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 0;
}
.image--footer-richlinksallRights{
    max-width: 180px;
    padding: 5px 0;
}
.container--footer-richlinksallRights{
    display: flex;
    align-items: center;
}


/* banner marcas home */
.container--bannerMarcas{
    padding: 0 10px;
    
}
@media screen and (max-width:1026px) {
    .container--bannerMarcas{
    padding: 0;
    }
}
.link--bannerMarcas{
    position: relative;
    display: flex;
}

    @media screen and (max-width:991px) {
        .paragraph--bannerMarcas{
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.strong--bannerMarcas{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: block;
    font-size: 50px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 40px !important;
    line-height: 41px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
@media screen and (max-width:1025px) {
    .strong--bannerMarcas{
        color: #FFF;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Roboto';
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}
.link--bannerMarcas::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}

    @media screen and (min-width:992px) {
        .link--bannerMarcas::before{
        content: 'Ver todo';
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'gothammedium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
    width: 90%;
    bottom: -100px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: bottom 0.2s linear;
    }
    
}
.link--bannerMarcas:hover::after{
    opacity: 1;
}
.link--bannerMarcas:hover::before{
    bottom: 40px;
}
.wrapper--bannerMarcas{
    overflow: hidden;
}
/* fin banner marcas home */


/* banner Implementos home */

    @media screen and (max-width:1026px) {
        .paragraph--bannerImplementos{
        margin: 0;
        margin-bottom: 10px;
    }
}
.container--bannerImplementos{
    padding: 0 10px;
}
@media screen and (max-width:1026px) {
    .container--bannerImplementos{
        padding: 0 5px;
    }
}
.link--bannerImplementos{
    position: relative;
    display: flex;
}
.strong--bannerImplementos{
    position: absolute;
    bottom: 20px;
    display: block;
    font-size: 30px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 40px !important;
    line-height: 41px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    transition: bottom 0.2s linear, margin 0.2s linear;
    
}
@media screen and (max-width:1025px) {
    .strong--bannerImplementos{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    }
}
.wrapper--bannerImplementosBig .strong--bannerImplementos{
    font-size: 45px;
    
}
@media screen and (max-width:1025px) {
    .wrapper--bannerImplementosBig .strong--bannerImplementos{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    }
}
.link--bannerImplementos::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

    @media screen and (min-width:1026px) {
        .link--bannerImplementos:hover::after{
    display: block;
    }
}

    @media screen and (min-width:1026px) {
        .link--bannerImplementos:hover .strong--bannerImplementos{
        z-index: 3;
        font-size: 35px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;    
    }
    
}

    @media screen and (min-width:1026px) {
        .wrapper--bannerImplementosBig .link--bannerImplementos:hover .strong--bannerImplementos{
        font-size: 45px;    
    }    
}
/* fin banner Implementos home */


/* Our experience Home*/
.paragraph--OurExperienceTitle{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    max-width: 100%;
    text-align: left;
    margin: 0 0 30px 0;
    
}
@media screen and (max-width:1025px) {
    .paragraph--OurExperienceTitle{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 112% */
    max-width: 90%;
    }
}

.paragraph--OurExperienceSubtitle{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 108% */
    margin: 0 0 58px 0;
    
}
@media screen and (max-width:1025px) {
    .paragraph--OurExperienceSubtitle{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 115% */
    }
}
.paragraph--OurExperienceDescription{
    color: #FFF;
    font-family: 'gothamlight';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
    margin: 0 0 90px 0;
    @media screen and (max-width:1025px) {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px; /* 118.75% */
    }
}

.paragraph--OurExperienceAddress{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px; /* 105% */
    margin: 0 0 90px 0;
    position: relative;
    padding-left: 50px;
    
}
@media screen and (max-width:1025px) {
    .paragraph--OurExperienceAddress{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 112% */
    }
}
.image--OurExperienceAddress{
    position: absolute;
    left: 0;
}

    @media screen and (max-width:1025px) {
        .strong--OurExperienceAddress{
        color: #FFF;
        font-family: 'Roboto';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }
}
.paragraph--OurExperienceQRTextTitle{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    padding-left: 20px;
    margin: 0;
    padding-top: 40px;
    margin-bottom: 15px;
    
}
@media screen and (max-width: 1025px) {
    .paragraph--OurExperienceQRTextTitle{
    padding-left: 16px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; /* 115% */
    margin-bottom: 10px;
    padding-top: 14px;
    }
}

.paragraph--OurExperienceQRTextDescription{
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 108% */
    padding-left: 20px;
    margin: 0;
   
}
@media screen and (max-width: 1025px) {
    .paragraph--OurExperienceQRTextDescription{
    padding-left: 16px;
    color: #FFF;
    font-family: 'gothambook';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
    position: relative;
    }
}

    @media screen and (max-width: 1025px) {
        .paragraph--OurExperienceQRTextDescription::after{
    position: absolute;
    bottom: -10px;
    content: 'a';
    display: block;
    font-size: 0;
    width: 95%;
    right: 0;
    height: 1px;
    background-color: #fff;
    }
}

    @media screen and (max-width: 1025px) {
        .paragraph--OurExperienceQRTextDescription::before{
    position: absolute;
    content: 'a';
    display: block;
    font-size: 0;
    width: 5px;
    height: 5px;
    left: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
    left: 13px;
    bottom: -12px;
    }
}



/* banner blogs */
.container--bannerBlogsText, .container--bannerBlogDate{
    position: absolute;
}

.container--bannerBlogDate{
    top: -7px;
    left: 28px;
    color: #fff;
    font-family: 'gothambold';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 100% */
}

.container--bannerBlogsText{
    bottom: 25px;
    left: 29px;    
}
.container--bannerBlogsText .paragraph--bannerBlogsText{
    color: #fff;
    font-family: 'gothambold';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    max-width: 200px;
    text-align: left;
    line-height: 25px;
    margin: 0;
}


/* faqs home */
    .paragraph--faqsHome{
        color: #000;
text-align: center;
font-family: 'Roboto';
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
        margin: 15px 64px;
    }
    .paragraph--faqsHomeAnswer{
        color: #000;
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        padding: 0 60px;
    }


    /* banner countdown home */
    .paragraph--bannerCountDownText1{
        color: #FFF;
        font-family: 'Raleway';
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 100% */
        margin: 6px 0;
        
    }
    @media screen and (max-width:1025px) {
        .paragraph--bannerCountDownText1{
        color: var(--1, #000009);
        font-family: 'Roboto';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 100% */
        }
    }
    .paragraph--bannerCountDownText2{
        color: #FFF;
        font-family: 'gothambook';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 100% */
        margin: 6px 0;
        
    }
    @media screen and (max-width:1025px) {
        .paragraph--bannerCountDownText2{
        color:#000009;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
        }
    }
    .paragraph--bannerCountDownText3{
        color: #FFF;
        font-family: 'gothambook';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 100% */
        margin: 6px 0;
        
    }
    @media screen and (max-width:1025px) {
        .paragraph--bannerCountDownText3{
        color: var(--1, #000009);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 156.25% */
        }
    }
    .paragraph--bannerCountDownText4{        
        margin-top: 60px;
        
    }
    @media screen and (max-width:1025px) {
        .paragraph--bannerCountDownText4{        
        margin-top: 30px;
        }
    }
    .paragraph--bannerCountDownText4 .link--bannerCountDownText4{
        padding: 15px 50px;
        border-radius: 15px;
        background: #AB220D;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-family: 'gothambook';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
@media screen and (max-width:1120px) {
    .paragraph--bannerCountDownText1{
        margin-top: 40px;
        color: #000009;
    }
    .paragraph--bannerCountDownText2{
        color: #000009;
    }
    .paragraph--bannerCountDownText3{
        color: #000009;
    }
}
    /* bannerpluscarrusel */
.container--CarouselPlusImageText{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    display: block;
    transition: bottom 0.2s linear;
    
}
@media screen and (max-width:1358px) {
    .container--CarouselPlusImageText{
    bottom: 10%;
    }
}
@media screen and (max-width:1267px) {
    .container--CarouselPlusImageText{
    bottom: 20%;
    }
}
@media screen and (max-width:1105px) {
    .container--CarouselPlusImageText{
    bottom: 30%;
    }
}
@media screen and (max-width:1026px) {
    .container--CarouselPlusImageText{
    bottom: 0;
    }
}
.paragraph--CarouselPlusImageText{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
@media screen and (max-width: 1025px) {
    .paragraph--CarouselPlusImageText{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    }
}
.link--CarouselPlusImageText{
    color: #FFF;
    font-family: 'gothambook';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
    width: 80%;
    position: relative;
    
}
@media screen and (max-width: 1025px) {
    .link--CarouselPlusImageText{
    color: #FFF;
    text-align: center;
    font-family: 'gothambook';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    }
}
.link--CarouselPlusImageText::before{
    bottom: -8px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: 'a';
    font-size: 0;
    display: block;
}
@media screen and (max-width:1025px) {
    .link--CarouselPlusImageText::before{
        display: none;
    }
}
.link--CarouselPlusImageText::after{
    bottom: -13px;
    position: absolute;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 10px;
    right: 0;
    content: 'a';
    font-size: 0;
    display: block;
    transform: rotate(45deg);
    
}
@media screen and (max-width:1025px) {
    .link--CarouselPlusImageText::after{
    display: none;
    }
}

.wrapper--CarouselPlusImageText.wrapper--Invert .link--CarouselPlusImageText::after{
    right: inherit;
    left: 0;    
    transform: rotate(-135deg);
    
}
@media screen and (max-width:1026px) {
    .wrapper--CarouselPlusImageText.wrapper--Invert .link--CarouselPlusImageText::after{
    left: 15%;
    }
}
@media screen and (max-width:425px) {
    .wrapper--CarouselPlusImageText.wrapper--Invert .link--CarouselPlusImageText::after{
    left: 5%;
    }
}


/* destacados home */
.container--destacadosHomeCarouselText{
    position: relative;    
    width: 100%;
    display: block;
}
.paragraph--destacadosHomeCarouselText{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway';
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin: 40px auto 30px;
    
}
@media screen and (max-width: 1025px) {
    .paragraph--destacadosHomeCarouselText{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    }
}


/* zona hincha home */
.container--zonaHinchaCarouselTextTitle{
    color: #000009;
font-family: 'Raleway';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 100% */
margin-top: 22px;
position: relative;
width: 100%;
display: block;
text-align: center;
margin-top: 140px;

}
@media screen and (max-width:1025px) {
    .container--zonaHinchaCarouselTextTitle{
    margin-top: 22px;
    color: #000009;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 140% */
    }
}
.container--zonaHinchaCarouselTextTitle .paragraph, .container--zonaHinchaCarouselTextDescription .paragraph, .container--zonaHinchaCarouselTeam .paragraph, .container--zonaHinchaCarouselTeamTitle .paragraph{
    margin: 0;
}

.container--zonaHinchaCarouselTextDescription {
    color: #000009;
    font-family: 'gothambook';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 100% */
    position: relative;
    text-align: center;
    padding-bottom: 83px;
    
}
@media screen and (max-width: 1025px) {
    .container--zonaHinchaCarouselTextDescription {
    color: #000009;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    }
}
.container--zonaHinchaCarouselTeam{
    color: #FFF;
    text-align: center;
    font-family: 'gothamlight';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
@media screen and (max-width:1026px) {
    .container--zonaHinchaCarouselTeam{
    margin-top: 46px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}

.container--zonaHinchaCarouselTeamTitle{
    color: #FFF;
    text-align: center;
    font-family: 'gothambold';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
@media screen and (max-width:768px) {
    .container--zonaHinchaCarouselTeamTitle{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
}
.link--zonaHinchaCarouselTeamLink{
    border-radius: 15px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: 'gothamlight';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}
@media screen and (max-width:1025px) {
    .link--zonaHinchaCarouselTeamLink{
    padding: 12px 30px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}
@media screen and (max-width: 1026px) {
    .paragraph--zonaHinchaCarouselTextDescription{
        text-align: center;
    }
    .paragraph--zonaHinchaCarouselTextTitle{
        text-align: center;
        
    }
}
.container--buttonCall {
    position: relative;
    text-align: center;
    margin-top: 30px;
    display: block;
    z-index: 99;
}
.wrapper--buttonCall :global(.vtex-rich-text-0-x-link--buttonCall){
    background-color: #AB220D;
    border: 0px;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-family: 'gothamlight';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}
@media screen and (max-width:768px) {
    .wrapper--buttonCall :global(.vtex-rich-text-0-x-link--buttonCall){
    display: block;
    max-width: 300px;
    margin: 0 auto;
    }
}

.paragraph--tabCarruselHomeCarouselTextTitle{
    color: #000009;
    font-family: 'Raleway';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 15px;
    
}
@media screen and (max-width:768px) {
    .paragraph--tabCarruselHomeCarouselTextTitle{
    font-size: 20px;
    }
}
.paragraph--tabCarruselHomeCarouselTextTitleDesc{
    color: #000009;
    text-align: center;
    font-family: 'Raleway';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 0;
    
}
@media screen and (max-width:768px) {
    .paragraph--tabCarruselHomeCarouselTextTitleDesc{
    font-size: 16px;
    }
}
.container--tabCarruselHomeCarouselTextTitle{
    justify-content: center
}
.container--tabCarruselHomeCarouselTextTitleDesc{
    justify-content: center;
}