@import '../../configs/globals.css';

/* header */


.flexRow--sticky-header-row{    
    background-color: #000009;    
}
.flexColChild--wishlistIcon{
    height: 100% !important;
    display: flex;
    align-items: center;
}
.flexColChild--wishlistIcon :global(.vtex-store-components-3-x-imageElement){
    @media screen and (max-width:991px) {
        width: 15px;
    }    
}
.flexRowContent--sticky-header-row-menu {
    border-top: 1px solid #AB220D;
    padding-top: 0;
    margin-top: 10px;
}


/* footer */
.flexRow--footer-content{
    background-color: #000009;
    padding-top: 40px;
    position: relative;
}
@media screen and (min-width:1027px) {
    .flexRow--footer-content{
        margin-top: -122px;
        padding-top: 85px;
    }
}

.flexRow--footer-content :global(.vtex-store-components-3-x-logoImage){
    margin: 0 auto;
    display: block;
    min-width: 197px;
}
.flexRowContent--footer-content{
    flex-direction: column;
    padding-bottom: 40px;
}
.flexRowContent--footer-content .stretchChildrenWidth{
    width: 100% !important;
}
.flexCol--socialLinksContent, .flexCol--footerRichLinks{
    flex-direction: row;
    justify-content: center;
}
.flexCol--footerRichLinks{
    margin-bottom: 20px;
    @media screen and (max-width: 720px) {
        display: block;
    }
}
.flexColChild--footerRichLinks {
    padding: 0 20px;
}
.flexCol--socialLinksContent{
    margin-bottom: 20px;
}
.flexRow--footer-content-designedby{
    background-color: #000009;
    padding: 0 20px;
}



/* slider */
.flexCol--homeSliderContainer{
    margin-bottom: 22px;
}
.flexCol--homeSliderContainer .flexColChild--homeSliderContainer:first-child{
    margin-bottom: -73px;
}

.flexCol--homeSliderContainer .flexColChild--homeSliderContainer:last-child{
    z-index: 1;    
}
@media screen and (max-width:1026px) {
    .flexCol--homeSliderContainer .flexColChild--homeSliderContainer:last-child{
        display: none;
    }
}
/* banner marcas */
.flexRow--bannerMarcas{
    padding: 60px 0 0 0;
}
.flexRow--bannerMarcas:last-child{
    padding: 0 0 60px 0;
}
/* componente banner implementos */
.flexRow--bannerImplementos{
    padding: 60px 0;
}

/* componente our experience home */
.flexRow--OurExperience{
    background-color: #000009;
    
}
.flexRow--OurExperience :global(.vtex-store-components-3-x-container){
    @media screen and (max-width:1026px) {
        padding: 0;
    }
}
.flexCol--OurExperienceText{
    padding: 143px 63px 0 63px;
    @media screen and (max-width:1025px) {
        padding: 35px 15px 0 15px;
    }
}
.flexRowContent--OurExperienceQR{
    display: flex;
}
.flexRowContent--OurExperienceQR .stretchChildrenWidth:first-child{
    @media screen and (max-width:1025px) {
        width: 35% !important;
    }
}
.flexRowContent--OurExperienceQR .stretchChildrenWidth:last-child{
    @media screen and (max-width:1025px) {
        width: 65% !important;
    }
}
/* banner blogs */
.flexRow--bannerBlogs{
    position: relative;
    padding: 0 8px;
}
.flexRow--bannerBlogsContainer{
    padding: 60px 0;
    @media screen and (max-width:720px) {
        display: none;
    }
}

/* faqs home */
.flexColChild--faqsHome{
    width: 100%;
}
.flexColChild--faqsHome :global(.vtex-disclosure-layout-1-x-trigger){
    width: 100%;
    border: 1px solid #DDD;
    background-color: #fff;
    position: relative;
}
:global(.vtex-disclosure-layout-1-x-trigger)::after{
    display: block;
    content: url('assets/img/icons/angle-down.png');
    position: absolute;
    right: 11px;
    top: 24px;
}
:global(.vtex-disclosure-layout-1-x-trigger--visible)::after{
    transform: rotate(180deg);
    top: 16px;
}

/* banner Countdown home */
.flexRow--bannerCountDown{
    padding: 60px 0;
}
.flexRowContent--bannerCountDown{
    position: relative;
}
.flexRow--bannerCountDownTextContainer{
    position: absolute;
    top: 100px;
    max-width: 479px;
    left: 160px;
}
@media screen and (max-width:1300px) {
    .flexRow--bannerCountDownTextContainer{
        top: 45px;
    }
}
@media screen and (max-width:1120px) {
    .flexRow--bannerCountDownTextContainer{
        position: relative;
        top: inherit;
        left: inherit;
    }
}
.flexRow--bannerCountDownTextContainer .flexRowContent{
    flex-direction: column;
}


/* bannerpluscarrusel */
.flexCol--CarouselPlusImage{
    position: relative;
}
.flexColChild--ligasInternacionalesCarousel, .flexColChild--guayosCarousel{
    width: 100%;
}
.flexRow--ligasInternacionalesCarousel{
    padding: 60px 20px;
    @media screen and (max-width:1026px) {
        padding: 60px 0px;
    }
}

.flexCol--CarouselPlusImage:hover :global(.vtex-rich-text-0-x-container--CarouselPlusImageText){
    @media screen and (min-width:1027px) {
        bottom: 95px;
    }    
}

/* destacados */
.flexCol--DestacadosHome{
    position: relative;
    display: flex;
    justify-content: center;
}
.flexColChild--DestacadosHome{
    width: 100%;
}

/* Componente xona hincha */
.flexRow--zonaHincha{    
    @media screen and (min-width: 1199px) {
        margin-bottom: 40px;
    }
}
.flexCol--zonaHincha{
    position: relative;
    /* margin: 20px 0 20px 0; */
}
@media screen and (max-width: 1199px) {
    .flexRowContent--zonaHincha{
        flex-direction: column;
    }    
}

.flexRowContent--zonaHinchaInner{
    /* position: absolute;
    bottom: 98px;
    left: 0;
    width: 100%;     */
    /* width: 100%; */
    padding: 0 60px;
    @media screen and (max-width:768px) {
        padding: 0;
    }
}
@media screen and (max-width: 1199px) {
    .flexRowContent--zonaHinchaInner{
        bottom: 0;
        position: relative;
        padding-top: 40px;
    }
    .flexCol--zonaHincha{
        margin: 0;
    }
    .flexRowContent--zonaHinchaInner .stretchChildrenWidth{
        width: 100% !important;
    }
    .flexRowContent--zonaHinchaInner :global(.vtex-slider-layout-0-x-paginationDotsContainer){
        z-index: 5;
    }
}
/* carruseles home */
.flexRowContent--CarouselHome :global(.vtex-slider-layout-0-x-sliderLayoutContainer) :global(.vtex-slider-layout-0-x-slideChildrenContainer){
    padding: 0 6px;    
}
.flexRowContent--CarouselHome :global(.vtex-product-summary-2-x-imageContainer){
    border: 0;
}
.flexRowContent--CarouselHome :global(.vtex-product-price-1-x-currencyContainer--summary){
    font-size: 13px !important;
}
.flexRowContent--CarouselHome :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary){
    font-size: 18px !important;
    @media screen and (max-width:374px) {
        font-size: 14px !important;
    }
}

.flexRowContent--CarouselHome :global(.vtex-product-summary-2-x-containerNormal){
    @media screen and (min-width:1027px) {
        height: 511px;
    }
    margin: 0 10px;
}
.flexRowContent--CarouselHome :global(.vtex-button__label){
    padding: 0 5px;
}

@media screen and (max-width:1026px) {
    .flexRowContent--ligasInternacionalesCarousel{
        display: flex;
        flex-direction: column;
    }
    .flexRowContent--ligasInternacionalesCarousel .stretchChildrenWidth {
        width: 100% !important;
    }
    .flexRowContent--ligasNacionalesCarousel .stretchChildrenWidth:last-child{
        order: 0;
    }
    .flexRowContent--ligasNacionalesCarousel .stretchChildrenWidth:first-child{
        order: 1;
    }
    .flexRowContent--bannerImplementosfour {
        display: flex;
        flex-wrap: wrap;
    }    
    .flexRowContent--bannerImplementosfour .stretchChildrenWidth{
        width: 50% !important;
    }
}
.flexRowContent--mobile {
    display: none;
}
@media screen and (max-width:768px) {
    .flexRowContent--mobile {
      display: block;
    }
    .flexRowContent--desktop {
        display: none;
    }
  }

  .flexRowContent--sticky-header-row-menu{
    @media screen and (min-width:1027px) {
    padding-right: 0% !important;
    display: block;
    }
  }


  .flexRow--TabContentCarruselSlider{
    max-width: 1109px;
    margin: 0 auto;
  }
  .flexRow--TabContentCarruselSlider :global(.vtex-slider-layout-0-x-sliderLayoutContainer){
    margin-bottom: 20px;
  }


  .flexRowContent--sticky-menu-desktop :global(.vtex-mega-menu-2-x-menuContainerNav) {
    background-color: #000009;
    border: none;
  }
  .flexRowContent--sticky-menu-desktop :global(.vtex-mega-menu-2-x-menuContainer) {
    border: 0px;
  }







  /* quitar esto */
  /* :global(.vtex-store-footer-2-x-footerLayout), :global(.vtex-sticky-layout-0-x-container){
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRow--imageMantenimiento) :global(.vtex-store-components-3-x-container){
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  :global(.vtex-flex-layout-0-x-flexRow--imageMantenimiento){
    position: absolute;
    height: 100vh;
    background: #000009;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
  } */