.container :global(.vtex-button){
    width: 40px;
    height: 20px;
    margin: 0 20px;
}
.container :global(.vtex-button):hover{
    background-color: #DE1940 !important;
    border-radius: 100%;
}
.container :global(.vtex-button):focus{
    background-color: #DE1940 !important;
    border-radius: 100%;
}
.container :global(.vtex-button__label){
    display: none;
}
.profileIcon--loginHeader{
    display: none;
}
.container :global(.vtex-button){
    align-items: center;
}
.container :global(.vtex-button)::before{
    display: block;
    content: url('assets/img/icons/Icono-user.svg');
    width: 100%;
    position: relative;
    margin: auto;
    top: 3px;
    left: -1px;
} 