
.styledLink {
    display: block;
    padding: 0;
}
.styledLinkContainer {
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.menuItem .styledLinkContent{
    color: #fff;
    font-family: 'gothambook';
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
}
.menuItem .styledLinkContent--boldMenu{
    font-family: 'gothambold';
}
.menuItem--isOpen .styledLinkContent{
    color:#AB220D;
}
.styledLink--highlight{
    background-color: #AB220D;
}
.menuItem--isOpen .styledLink--highlight .styledLinkContent{
    color: #fff;
}
.submenuContainer{
    @media screen and (min-width:768px) {
        left: 0;
        position: absolute;
        width: 100%;
    }
   
}
.submenuContainer .menuContainer {
    flex-wrap: wrap;
}
.submenuWrapper--isOpen{
    width: 100%;
}
.submenuWrapper .styledLinkContent{
    color: #000009;
    padding: 20px 20px;
}
.submenuWrapper--imageSubmenu .menuItem{
    @media screen and (min-width:768px) {
    width: 23%;
    margin-right: 2%;   
    display: flex;
    align-items: center;    
    }
}
.submenuWrapper--imageSubmenu .menuItem .styledLinkContent{
    font-size: 16px;
    font-family: 'gothamlight';
}
.menuItem .styledLinkContent .imageSubmenu{
    margin-right: 5px;
}
.submenuWrapper .menuItem--isOpen .styledLinkContent{
    font-family: 'gothambold';
    color: #000009;
}
.submenu--thirdlevel{
    margin-top: 5px;
    padding-top: 10px;
}

.submenu--thirdlevel .menuItem .styledLinkContent{
    font-size: 16px;
    font-family: 'gothamlight';
}
.submenu--thirdlevel .menuItem--isOpen .styledLinkContent{
    font-family: 'gothambold';
    color: #000009;
}


/* footer menu */
.menuContainer--footermenu{
    justify-content: center;
}
.menuContainer--footermenu .menuItem .styledLinkContent{
    font-size: 15px;
}
.menuContainerNav--footermenu::after{
    margin: 20px 0 20px;
    content: '-';
    color: #AB220D;
    font-size: 1px;
    background-color: #AB220D;
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
}
.menuContainer--footermenu2{
    @media screen and (max-width: 1025px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.menuContainerNav--footermenu2::after{
    display: none;
}
@media screen and (max-width: 1026px) {
    .menuContainer--footermenu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.submenuWrapper--noImage{
    background-color: #AB220D;
}
.submenuWrapper--noImage .styledLinkContent {
    padding: 0;
    color: #fff;
}
.submenuWrapper--noImage .styledLinkContent:hover {
    text-decoration: underline;
    color: #fff;
}
.submenuWrapper--noImage .menuItem {
    margin: 0 20px;
}
.submenuWrapper--noImage .imageSubmenu{
    display: none;
}
.submenuWrapper--noImage .submenu--thirdlevel .imageSubmenu{
    display: block;
}
.submenuWrapper--noImage .submenu--thirdlevel{
    top: 12px;
}

.submenuWrapper--noImage .submenu--thirdlevel .styledLinkContent:hover {
    color: #000009;
}
.submenuWrapper--noImage .menuItem--isOpen .styledLinkContent{
    color: #fff;
    text-decoration: underline;
}
.submenuWrapper--noImage .submenu--thirdlevel .styledLinkContent{
    color: #000009 !important;
    text-decoration: none;
}
.submenuContainer--noImageChildSubmenu  .styledLinkContent{
    color: #000009 !important;
    text-decoration: none !important;
    font-family: 'gothambook' !important;
}
.submenuContainer--noImageChildSubmenu .menuItem--isOpen .styledLinkContent{
    color: #000009 !important;
    text-decoration: none !important;
    font-family: 'gothambook' !important;
}
.submenu--thirdlevel{
    justify-content: flex-start;
}
.submenu--thirdlevel .styledLinkContent{
    color: #000009;
    font-family: 'gothammedium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.submenu--thirdlevel .styledLinkContent--bold{
    color: #000009;
    font-family: 'gothambold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.submenuWrapper--thirdlevel{
    top: 14px;
}
.submenuWrapper--noImage{
    /* background-color: #AB220D;
    position: relative;
    top: 13px;
    border: 1px solid #000; */
}
.submenuWrapper--secondLevel{
    background-color: #fff;
    position: relative;
    top: 12px;
}
.submenuWrapper--noImage.submenuWrapper--secondLevel .menuItem .styledLinkContent, .submenuWrapper--noImage.submenuWrapper--secondLevel .menuItem--isOpen .styledLinkContent {
    color: #000009 !important;
    text-decoration: none !important;
    font-weight: 400 !important;
    font-family: 'gothambook';
}
.submenuWrapper--noImage.submenuWrapper--secondLevel .menuItem--isOpen .styledLinkContent:hover{
    font-family: 'gothambold' !important;
}
.submenuWrapper--noImage.submenuWrapper--secondLevel .menuItem--isOpen .styledLinkContent--bold{
    font-family: 'gothambold' !important;
}


/* estilos menu mobile */
.menuContainerNav--MenuMobile{
    width: 100%;
}
.menuContainerNav--MenuMobile .styledLink {
    display: block;
    width: max-content;
}
.menuContainerNav--MenuMobile .submenuWrapper{
    position: relative;
}
.menuContainerNav--MenuMobile .submenu {
width: 100%;
}
.menuContainerNav--MenuMobile .menuContainerNav{
    width: 100%;
}
.menuContainerNav--MenuMobile .menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menuContainerNav--MenuMobile .menuItem {
    margin: 0;
}
.menuContainerNav--MenuMobile .menuItem .styledLinkContent {
    padding: 5px 10px;
}
.menuContainerNav--MenuMobile .submenuContainer--thirdlevel{
    margin-top: 0;
    top: -5px;
}
.menuContainerNav--MenuMobile .submenuWrapper--isOpen{
    width: 0 !important;
    display: none !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper{
    display: block !important;
    width: 100% !important;
    padding: 0;
    border-bottom: 0;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--secondLevel{
    display: none !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--isActive--secondLevel .submenuWrapper--secondLevel{
    display: block !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive--secondLevel .submenuWrapper--secondLevel.submenuWrapper{
    display: block !important;
    width: 100% !important;
    top: 0;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--secondLevel.submenuWrapper--secondLevelPlus{
    display: none !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--isActive--secondLevelPlus .submenuWrapper--secondLevel.submenuWrapper--secondLevelPlus{
    display: block !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--isActive--secondLevel.submenuWrapper--isActive--secondLevelPlus .submenuWrapper--secondLevel.submenuWrapper--secondLevelPlus.submenuWrapper{
    display: block !important;
    width: 100% !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--thirdlevel{
    display: none !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive .submenuWrapper--isActive--thirdlevel .submenuWrapper--thirdlevel{
    display: block !important;
}
.menuContainerNav--MenuMobile .submenuWrapper--isActive--thirdlevel .submenuWrapper--thirdlevel.submenuWrapper{
    display: block !important;
    width: 100% !important;
    top: 0px;
}
.menuContainerNav--MenuMobile :global(.vtex-store-components-3-x-imageElement--imagenMenu){
    display: none;
}
.menuContainerNav--MenuMobile .styledLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.menuContainerNav--MenuMobile .btnMobile{
    color: #fff;
    font-size: 20px;
    padding: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContainerNav--MenuMobile .menuItem--isOpen .styledLinkContent{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'gothambook';
}
.menuContainerNav--MenuMobile .menuItem--isOpen .styledLinkContent.styledLinkContent--bold{
    font-family: 'gothambold';
}
.menuContainerNav--MenuMobile .submenu--secondLevel .styledLinkContainer {
    border-bottom: 1px solid #000;
}
.menuContainerNav--MenuMobile .submenu--secondLevel.submenu--secondLevelPlus .styledLinkContainer {
    background-color: #ccc;
}
.menuContainerNav--MenuMobile .submenu--secondLevel .btnMobile {
    color: #000;
}
.menuContainerNav--MenuMobile :global(.vtex-flex-layout-0-x-flexRow--columna-submenu){
    width: 100%;
}
.menuContainerNav--MenuMobile :global(.vtex-flex-layout-0-x-flexRow--columna-submenu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
    margin-bottom: 0 !important;
}
.menuContainerNav--MenuMobile .submenu--secondLevelPlus .submenu--thirdlevel{
    padding: 0;
}
.menuContainerNav--MenuMobile .submenu--secondLevelPlus .submenu--thirdlevel .styledLinkContainer{
    border-bottom: 0;
    background-color: #fff;
}
.menuContainerNav--MenuMobile .submenu--secondLevelPlus .submenu--thirdlevel .styledLinkContent {
    margin-bottom: 0;
}