.gallery {
  padding-left: 0;
}
.filtersWrapper--FiltersPLP{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  
}
@media screen and (min-width:1026px) {
  .filtersWrapper--FiltersPLP{
  justify-content: center;
  margin-top: 30px;
  }
}
@media screen and (max-width:1025) {
  .filtersWrapper--FiltersPLP{
    justify-content: flex-start;
  }
}
.filter__container--title{
  display: none;
}
.filter__container--category-2,.filter__container--category-3, .filter__container--category-4, .filter__container--category-5,.filter__container--category-6, .filter__container--selectedFilters{
  display: none;
}
.filter__container--FiltersPLP{
  border-radius: 8px;
  background: #F3F3F3;
  padding: 10px 30px;
  position: relative;
  margin: 0 5px 15px;
  min-width: 150px;
}
@media screen and (max-width:1262px) {
  .filter__container--FiltersPLP{
    margin-bottom: 10px;
  }
}
.filter--FiltersPLP{
  padding: 0;
  color: #000009;
  text-align: center;
  font-family: 'gothambook';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.filterTemplateOverflow--FiltersPLP{
  padding-bottom: 0;
  position: absolute;
  left: 0px;
  width: max-content;
  min-width: 150px;
  background-color: #F3F3F3;
  z-index: 100;
  top: 41px;
  border-radius: 8px;
}
.filterContent--FiltersPLP{
  padding: 10px;
}
.filterItem--FiltersPLP :global(.vtex-checkbox__line-container){
  display: flex;
  align-items: center;
}
.filterItem--FiltersPLP :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label){
  font-family: 'gothambook';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000009;
}
.filterIcon--FiltersPLP, .filterPopupArrowIcon{
  position: absolute;
  right: 0;
  top: 13px;
  color: #000009;
}
.filter__container--priceRange{
  display: none;
}
.orderByButton {
  padding: 0;
  border-radius: 8px;
  background: #F3F3F3;
  padding: 10px 30px;
  position: relative;
  margin: 0 5px;
  min-width: 150px;
  margin-top: 0;
  
}
@media screen and (max-width:1025px) {
  .orderByButton {
  margin: 0;
  padding: 10px 10px;
  }
}


@media screen and (min-width:1027px) {
  .orderByText {
  font-size: 0;
  }
}
@media screen and (max-width:1026px) {
  .orderByText {
  display: block;
  color: #000009;
  font-family: 'gothambook';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  text-align: left;
  }
}
.orderByText::before {
  content: 'Ordenar Por';
  color: #000009;
  text-align: center;
  font-family: 'gothambook';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  text-transform: none;
  
}
@media screen and (max-width:1026px) {
  .orderByText::before {
  display: none;
  }
}
.filterPopupTitle {
  width: 100%;
  text-align: left;
  
}
@media screen and (min-width:1027px) {
  .filterPopupTitle {
  font-size: 0;
  }
}
.orderByDropdown .filterPopupTitle {
  font-size: 0;
}
.orderByDropdown {
  padding-top: 0;
}
.galleryLayoutSwitcher {
  margin-left: 5px;
  display: flex;
  
}
@media screen and (max-width:1026px){
  .galleryLayoutSwitcher {
  margin-left: 0;
  margin-bottom: 10px;
  }
}
.galleryLayoutSwitcher .galleryLayoutOptionButton {
  background: #fff;
  font-size: 0;
  padding: 0;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:first-child{
  order: 1;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:last-child{
  order: 0;
  margin-right: 10px;
}

.galleryLayoutSwitcher .galleryLayoutOptionButton:first-child::after{
  content: url('/assets/vtex.file-manager-graphql/images/bbf0bf8c-e3fb-45c7-b734-ecba1acd55e7___97a820851bc71719a60993087c6e615d.png');
  display: block;
  max-width: 129px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:first-child.galleryLayoutOptionButton--selected::after{
  content: url('/assets/vtex.file-manager-graphql/images/0436ce06-b741-404b-92c6-14997c028ee5___996d952d28cb19b67f0fd05a43ef461a.png');
  display: block;
  max-width: 129px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:last-child::after{
  content: url('/arquivos/horizontal.png');
  display: block;
  max-width: 129px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:last-child.galleryLayoutOptionButton--selected::after{
  content: url('/arquivos/horizontal-active.png');
  display: block;
  max-width: 129px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton :global(.vtex-store-icons-0-x-gridIcon), .galleryLayoutSwitcher .galleryLayoutOptionButton :global(.vtex-store-icons-0-x-inlineGridIcon){
  display: none;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton :global(.vtex-rich-text-0-x-container){
  display: none;
}
.gallery :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-dropdown__button){
  background-color: #F5F5F5;
  border: 0;
  border-radius: 5px;
  width: 100%;
}


  @media screen and (max-width:1026px) {
    .filterBreadcrumbsText {
    color: #000009;
    text-align: left;
    font-family: 'gothambook';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }
}

  @media screen and (max-width:1026px) {
    .accordionFilterItemTitle{
    color: var(--3, #FFF);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.accordionFilterContainer--category-5, .accordionFilterContainer--category-4, .accordionFilterContainer--category-3, .accordionFilterContainer--category-2, .accordionFilterContainer--category-1{
  display: none;
}
@media screen and (max-width:1026px) {
.filterBreadcrumbsItemName--FiltersPLP {
  
    color: #fff;
      font-family: 'gothambook';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
}
@media screen and (max-width:1026px) {
.filterBreadcrumbsItem--FiltersPLP{
  
    margin-left: 5px;
  }
}
@media screen and (max-width:1026px) {
.filterBreadcrumbsItem .caretIcon--FiltersPLP{
  
    color: #fff;
    font-size: 10px;
  }
}
@media screen and (max-width:1026px) {
.filterAccordionItemBox{
  
    color: #000009;
    text-align: left;
    font-family: 'gothambook';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (max-width:1026px) {
.filterClearButtonWrapper--FiltersPLP :global(.vtex-button), .filterApplyButtonWrapper :global(.vtex-button){
  
    background-color: #AB220D;
    color: #fff;
    text-transform: none;
    text-align: center;
    font-family: 'gothambook';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (max-width:1025px) {
.accordionFilterItemIcon--FiltersPLP{
  
    color: #fff;
    transform: rotate(-90deg);
    position: relative;
    right: -15px;
  }
}
@media screen and (max-width:1025px) {
.filterAccordionItemBox :global(.vtex-checkbox__label){
  
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and (max-width:1025px) {
.closeIcon{
  
    color: #fff;
    border-radius: 25px;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
  }
}