.imageContainer {
  border-radius: 5px;
  border: 1px solid rgba(2, 1, 46, 0.10);
}
.nameContainer {
  margin-bottom: 5px !important;
  display: flex;
  justify-content: center;
  @media screen and (max-width:1026px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media screen and (max-width:374px) {
    margin-top: 20px;
  }
}
.productNameContainer .brandName{
  width: 100%;
  display: block;
  text-align: center;
  color: #000009;
  text-align: center;
  font-family: 'gothambold';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  @media screen and (max-width:1025px) {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
  }
}
.containerNormal{
  background-color: #fff;
  max-width: 245px !important;
  padding: 0 3px;
}
.containerNormal :global(.vtex-stack-layout-0-x-stackContainer) :global(.vtex-stack-layout-0-x-stackItem--productprices){
  top: 80%;
  width: 100%;
  transition: top 0.5s ease;
}
.containerNormal :global(.vtex-product-price-1-x-installments--summary){
  color: #000009;
  text-align: center;
  font-family: 'gothambook';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 5px;
}
:global(.vtex-product-price-1-x-currencyLiteral--summary), :global(.vtex-product-price-1-x-currencyDecimal--summary), :global(.vtex-product-price-1-x-currencyFraction--summary){
  display: none;
}
.SKUSelectorContainer{
  width: 100%;
  @media screen and (min-width: 1027px) {
    display: none;
  }
}

.SKUSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSelectContainer){
  width: 98%;
}
.SKUSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSelectContainer) :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-styleguide-9-x-container){
  height: 27px;
  color: #000009;
text-align: center;
font-family: 'gothambook';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */
background-color: #f5f5f5;
}
.skuSelectorContainer {
  margin-top: 0;
  overflow: hidden;
    height: 143px;
    @media screen and (max-width:1026px) {
      height: 155px;
      margin-bottom: 0;
    }
}
.skuSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSubcontainer){
  margin-bottom: 5px;
  display: none;
}
.skuSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla){
  display: block;
}
.skuSelectorContainer :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color){
  display: block;
}
.containerNormal {
  position: relative;
}
.containerNormal :global(.vtex-product-highlights-2-x-productHighlightText){
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media screen and (min-width: 1027px) {
  .containerNormal {
    position: relative;
    min-height: 511px;
  }
  .containerNormal:hover :global(.vtex-flex-layout-0-x-flexCol--HoverSection){
    display: block;
    top:26%;
    opacity: 1;
  }
  .containerNormal:hover :global(.vtex-stack-layout-0-x-stackItem--productprices){
    top: 36%;
  }
}




/* estilos lista */
:global(.vtex-search-result-3-x-galleryItem--list){
  border-bottom: 0;
}
.containerNormal--listLayout{
  min-height: inherit;
}
.element--listLayout{
  border-radius: 12px;
border: 1px solid #E6E6E6;
background: #FFF;
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
padding: 15px;
}
.element--listLayout :global(.vtex-stack-layout-0-x-stackItem--HighlightsCol){
  top: 70%;
    height: max-content;
    display: block;
    left: 10px;
}

.element--listLayout :global(.vtex-flex-layout-0-x-flexCol--Addbutton ) :global(.vtex-button){
  display: block !important;
  min-width: 200px;
}

.element--listLayout .nameContainer {
  justify-content: flex-start;
}
.element--listLayout .nameContainer .productBrand {
  color: #000009;
  font-family: 'gothambook';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 106.667% */
}

.element--listLayout .description {
  color: #000009;
  font-family: 'gothambook';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.element--listLayout :global(.vtex-flex-layout-0-x-flexCol--priceListLayout){
  display: flex;
  flex-direction: row;
  align-items: center;
}
.element--listLayout :global(.vtex-flex-layout-0-x-flexColChild--priceListLayout){
  display: flex;
  align-items: center;
}
.element--listLayout :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary){
  color: #000009;
  font-family: 'gothambold';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media screen and (max-width:374px) {
    font-size: 10px !important;
}
}
.element--listLayout :global(.vtex-product-price-1-x-listPrice--summary) :global(.vtex-product-price-1-x-currencyContainer--summary){
  color: #000009;
  font-family: 'gothambook';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
  
}
.element--listLayout :global(.vtex-product-summary-2-x-skuSelectorContainer){
  max-height: 115px;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorItemImage){
  width: 50px;
  height: 50px;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorTextContainer){
  display: none;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorNameContainer){
  display: flex;
  align-items: center;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorName){
  color: #000009;
  font-family: 'gothambook';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin-right: 10px;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorInternalBox){
  border-radius: 5px;
  background: #F5F5F5;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorInternalBox){
  background: #fff;
}
.element--listLayout :global(.vtex-store-components-3-x-skuSelectorItemTextValue){
  color: #000009;
  text-align: center;
  font-family: 'gothambook';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}
:global(.vtex-search-2-x-tileListItem) .containerNormal {
  margin: 0 10px;
}
:global(.vtex-search-2-x-tileListItem) .containerNormal :global(.vtex-flex-layout-0-x-flexCol--HoverSection){
display: none !important;
}
:global(.vtex-search-2-x-tileListItem) :global(.vtex-product-summary-2-x-containerNormal):hover :global(.vtex-stack-layout-0-x-stackItem--productprices){
  top: 80%;
}
:global(.vtex-search-2-x-tileListItem) :global(.vtex-flex-layout-0-x-flexCol--Addbutton) :global(.vtex-button){
  display: block;
}
:global(.vtex-search-2-x-tileListItem) :global(.vtex-flex-layout-0-x-flexCol--HighlightsCol){
display: none;
}

.containerNormal .productNameContainer .productBrand  {
  height: 43px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @media screen and (max-width:1025px) {
    height: 36px;
  }
}
.containerNormal :global(.vtex-flex-layout-0-x-flexColChild--buttonsSelector):last-child{
  @media screen and (max-width:1026px) {
    display: none;
  }
}