.menuContainer,
.submenuContainer {
  overflow: auto;
  max-height: 50vh;
}

.menuContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.submenuContainer{
  width: 100%;
  left: 0;
  top: 118px;
  background-color: #fff;
  max-height: 100vh;
  min-height: 50vh;
}
.submenuList {
  display: flex;
  gap: 2rem;
}

.submenuList > .submenuItem {
  max-width: 200px;
}

.styledLink,
.goBackButton,
.triggerContainer {
  border: none;
  background: transparent;
  outline: transparent;
}

.hideArrow svg {
  display: none;
}
.ImageSubmenu{
  width: 100%;
}
.ImageSubmenuLink{
  width: 100%;
}
@media screen and (min-width:1026px) {
  .styledLinkText {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .caretIcon{
    display: none;
  }
  .separated{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    color: #000009;
    font-family: 'gothambold';
    font-size: 23px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    margin-bottom: 5px;
  }
  .submenubox1{
    width: 35%;
  }
  .submenubox2{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }
  .submenubox2.noImageDpto{
    width: 100%;
  }
  .submenuItem{
    min-width: 33%;
    width: 33%;
    padding: 0 2%;  
  }
  .separatorItem{
    background: rgba(0, 0, 9, 0.20);
    width: 1px;
  }
  .separatorItem:last-child{
    display: none;
  }
  
  .separatedChilds{
    font-size: 16px;
  }
  
  .submenuItemChild{
    padding: 15px 0;
  }
  .submenuItemChild .submenuItem {
    padding-left: 0;
    width: 100%;
    margin-top: 0;
  }
  .submenuItemChild .styledLinkText {
    color: #000009;
    font-family: 'gothambook';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
  .submenuItemChild .styledLinkText:hover{
    font-family: 'gothambold';
    font-weight: 700;
    text-decoration: underline;
  }
  .indispensableLink{
    min-width: 33%;
    width: 33%;
    position: relative;
  }
  .indispensableLink .separated{
    position: absolute;
    bottom: 42px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    color: #FFF;
    justify-content: center;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .indispensableLink .separated .separatedChilds{
    display: none;
  }
}
@media screen and (max-width:991px) {
  .caretIcon{
    color: #fff;
  }
  .styledLinkIcon {
    display: none;
  }
  .styledLinkText {
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .menuItemVertical {
    border-top: 0;
  }
  .menuItemVertical:last-child {
    border-bottom: 0;
  }
  .menuItemVertical .styledLinkContainer {
    padding: 40px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .submenuContainerVertical {
    background-color: #000009;
  }
  .collapsibleHeaderText{
    color: #fff;
    margin: 20px 0;
  }
  .submenuItemVertical {
    border-top: 0;
    background-color: #000009;
  }
  .submenuItemVertical:last-child {
    border-bottom: 0;
  }
  .submenuContainerTitle {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 25px 0;
  }
  .dptoImage{
    width: 100%;
  }
  .collapsibleHeaderText {
    color:#fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .submenuItem .styledLinkText{
    font-weight: 400;
  }
  .menuContainerNavVertical {
    padding: 0 25px;
  }
  .submenuItemChild{
    margin: 25px 0;
  }
  .submenuItemVertical{
    padding: 0;
  }
  :global(.vtex__icon-caret-up ){
    color: #fff;
  }
  .goBackButtonText {
    display: none;
  }
}