.menuContainer,
.submenuContainer {
  overflow: auto;
  max-height: 50vh;
}

.menuContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.submenuContainer{
  width: 100%;
  left: 0;
  top: 124px;
  background-color: #fff;
  max-height: 100vh;
  min-height: 50vh;
}
.submenuList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.submenuList > .submenuItem {
  max-width: 200px;
}

.styledLink,
.goBackButton,
.triggerContainer {
  border: none;
  background: transparent;
  outline: transparent;
}

.hideArrow svg {
  display: none;
}
.styledLinkText {
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.caretIcon{
  display: none;
}
.separated{
  display: flex;
  justify-content: space-between;
  width: 100%;
}